<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
<body class="bg-light">
  <%- include('partials/navbar.ejs') %>
  <div class="container">
    <div class="card mt-3">
      <div class="card-header">
        <h3>Realizar pergunta</h3>
      </div>
      <div class="card-body">
        <form id="ask-form" method="POST" action="/question">
          <div class="form-group">
            <label>Título</label>
            <input type="text" placeholder="Título" name="title" class="form-control">
          </div>
          <div class="form-group">
            <label>Descrição</label>
            <textarea placeholder="Descreva sua pergunta aqui" name="description" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Perguntar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('partials/footer.ejs') %>
</html>