<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
<body class="bg-light">
  <%- include('partials/navbar.ejs') %>
  <h1>Bem vindo ao Gera Pergunta!</h1>
</body>
<%- include('partials/footer.ejs') %>
</html>